/* Estilos del menu (BLOQUE) */
.menu {
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px;
}

/* Estilos de los elementos dentro del menu (ELEMENTO)*/
.menu__item {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

/* Estilos de un estado del tiem del menú (MODIFICADOR) */
.menu__item:hover {
  background-color: #0056b3;
}

/* Estilos del contenido */
.content {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}