/* Estilos del formulario */
form {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Estilos de las etiquetas del formulario */
form label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilos del botón */
form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos del botón al pasar el ratón */
form button:hover {
  background-color: #0056b3;
}

/* Estilos del campo de entrada */
form input,
form textarea {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}







/* Estilos del título*/
h2 {
  text-align: center;
}